* {
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  text-align: center;
  max-width: 100%;
  border-bottom: 2px solid darkred;
  box-shadow: 0px 6px 12px darkred;
  padding: 5px;
  top: 0;
  background-color: black;
  z-index: 100;
}

footer {
  margin-top: 4rem;
  line-height: 0.5;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-inline: 3rem;
}

nav ul {
  grid-column: 2;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.cart-link {
  grid-column: 3;
  justify-self: end;
  color: inherit;
  font-size: 1.2rem;
}

.car-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.logo-img {
  width: 300px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

video {
  width: 600px;
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: silver;
}

a:hover {
  color: gold;
}

h2 {
  font-weight: bold;
  text-align: center;
}

.logo-div,
.main-div,
.about-div,
.error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  line-height: 0.5;
}

.card {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0px 12px darkred;
  padding: 1rem;
  width: 400px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.card .price {
  font-weight: bold;
  color: gold;
}

.card .quantity{
  background-color: black;
  color: gold;
  text-align: center;
  width: 60px;
  border: 1px solid gold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card .description {
  font-style: italic;
}

.card .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: darkred;
  border: 1px solid white;
  padding: 0.5rem 0.8em;
  border-radius: 20px;
  font-weight: bold;
}

button {
  background-color: black;
  color: gold;
  border: 1px solid gold;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  background-color: gold;
  color: black;
  transition: 1s;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  max-width: 400px;
}

.form-row label {
  width: 130px;
  text-align: right;
  max-width: 100%;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: none;
  width: 200px;
  max-width: 100%;
}

legend {
  text-align: center;
  padding: 0 0.5rem;
}

.personal-records {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3rem;
  margin-bottom: 2rem;
}

.personal-records h3,
.personal-records p {
  margin: 0;
}

.policy {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.policy .contact {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.featured {
  text-align: center;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid gold;
  border-radius: 10px;
  width: 50%;
  max-width: 80%;
  margin: 0 auto;
  gap: 3px;
}

.selected-product {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0px 12px gold;
  padding: 1rem;
  width: 33%;
  max-width: 100%;
  min-width: 220px;
  text-align: center;
  position: relative;
}

.selected-product .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: darkred;
  border: 1px solid white;
  padding: 0.5rem 0.8em;
  border-radius: 20px;
  font-weight: bold;
}

.selected-product .car-img {
  width: 220px;
  height: 100px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/*CART*/

#cart-window {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  visibility: hidden;
}

#cart-window.active {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

#cart-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 0;
  height: calc(100% - 80px);
  background-color: black;
  padding: 40px 0;
  color: whitesmoke;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  box-shadow: -5px 0 12px rgba(139, 0, 0, 0.65);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
}

#cart-window.active #cart-box {
  width: calc(35% - 80px);
  padding: 40px;
}

#cart-box .heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  place-items: center;
}

#cart-box .heading h1 {
  font-size: 25px;
  font-weight: 600;
}

#cart-items-container {
  position: relative;
  text-align: center;
  flex-grow: 1;
  margin-top: 1.5rem;
}

#cart-items-container ul {
  height: 50vh;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: darkred black;
}

#cart-items-container ul::-webkit-scrollbar {
  width: 6px;
}

#cart-items-container ul::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

#cart-items-container ul::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


#cart-items-container .cart-item {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
}

#cart-items-container .cart-item .item-1 {
  display: flex;
  flex-direction: row;
  place-items: center;
}

#cart-items-container .cart-item .cart-item-img {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: rgba(236, 192, 255, 0.442);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

#cart-items-container .cart-item .cart-item-img button.remove-button {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  z-index: 102;
  transition: 0.4s ease-in-out;
}

#cart-items-container .cart-item .cart-item-img button.remove-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#cart-items-container .cart-item .cart-item-img button.remove-button i {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#cart-items-container .cart-item .cart-item-img:hover button.remove-button i{
  opacity: 1;
}

#cart-items-container .cart-item .cart-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cart-box .cart-item .cart-item-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  margin-left: 30px;
}

#cart-box .cart-item .cart-item-desc span:nth-child(2) {
  color: rgb(170, 170, 170);
  font-size: 13px;
}

#cart-box .cart-item .cart-item-price {
  font-weight: 500;
  font-size: 15px;
}

#cart-box #cart-checkout{
  font-weight: 600;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: auto;
}

#cart-box #total-checkout{
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
}

#cart-box #total-checkout p {
  margin-right: 20px;
}

#cart-box #checkout-button{
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}
/*END CART*/

@media (max-width: 900px) {
  .featured-products {
    width: 50%;
  }

  #cart-window.active #cart-box {
    width: calc(60% - 80px);
  }
}

@media (max-width: 600px) {
  .featured-products {
    width: 100%;
  }
  nav {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.5rem;
  }

  nav ul {
    grid-column: 1;
  }

  .cart-link {
    grid-column: 1;
    justify-self: center;
  }

  #cart-window.active #cart-box {
    width: calc(100% - 40px);
    padding: 20px;
    text-wrap: wrap;
  }
}